
* {
	margin:0;
	padding:0;
}

/** General Style Info **/
body {
	background: #003d4c;
}
#header {
	height: 50px;
}
#content {
	background: #f9f9f9;
	min-height: 600px;
}
#footer {
	height: 80px;
	background: #A9A9A9;
}