body
{
	overflow-x: hidden;
}
div#header
{
	height: 70px;
	background: rgba(20,80,120,200);
	margin: -8px;
	border: 1px solid transparent;
}
div#headerContent
{
	width: 100%;
	height: 110px;
	margin: auto;
}